#root {
  color: rgb(3, 15, 3);  
}

.root {
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 90%;
    margin: auto;
}

.episode-container {
  background-color: rgb(222, 237, 240);
  width: 100%;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
}

/* .episodeTab  {

  color: rgb(0, 43, 0);
  background-color: bisque;
}

.episodeName {
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
  font-size: 1.2rem;
}

.allEpisodesDiv {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  } */